*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr[col-end]);
    grid-template-rows: 6rem repeat(6, 1fr) 6rem;
    grid-gap: 1rem .8rem;
    height: 100vh;
    width: 90%;
    margin: 3rem auto;

}

.container>* {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    padding: 2rem;
}

.nav {
    background-color: blueviolet;
    grid-column: col-start 1 / -1;


}

.hero {
    background-color: cornflowerblue;
    grid-column: col-start 1 / col-end 1;
    grid-row: 2 / 4;

}

.main-content {
    background-color: goldenrod;
    grid-column: col-start 2 / -1;
    grid-row: 2 / 6;
}

.sidebar {
    background-color: orangered;
    grid-column: col-start 1 / col-end 1;
    grid-row: 4 / 7;
}

.extra-content {
    background-color: orchid;
    grid-column: col-start 2 / -1;
    grid-row: 6 / 7;
}

.images {
    background-color: greenyellow;
    grid-column: col-start 1 / col-end 3;
    grid-row: 7 / 8;
}

.posts {
    background-color: indianred;
    grid-column: col-start 4 / -1;
    grid-row: 7 / 8;
}

.footer {
    background-color: paleturquoise;
    grid-column: col-start 1 / -1;
    grid-row: 8 / 9;
    text-align: center;
    padding: 2rem;

}